<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Dance Academy</title>
</head>

<body>
    <nav>
        <h4>Dance Academy</h4>
        <ul>
            <% if (locals.user) { %>
                <form class="form-inline" action="/auth/search" method="POST" style="padding-right: 10px;">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Course" aria-label="Search" name="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" hidden>Search</button>
                </form>
                <% if (user.isInstructor !== 1) { %>
                    <form action="/registerInstructor" method="get">
                        <button type="submit" class="btn btn-info">Become an Instructor</button>
                    </form>
                    <% } else { %>
                        <form action="/createCourse" method="GET">
                            <button type="submit" class="btn btn-info">Publish Course</button>
                        </form>
                        <% } %>
                            <% }  %>
                                <li><a href="/">Home</a></li>
                                <li><a href="/list/all">Courses</a></li>
                                <li><a href="/list/mycourses">My Courses</a></li>

                                <li>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <%- user.first_name %> 
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="/profile">Profile</a>
                                            <a class="dropdown-item" href="/list/mycourses">My Courses</a>
                                            <% if (user.isInstructor == 1) { %>
                                                <a class="dropdown-item" href="/list/published">Published Courses</a>
                                                <% }  %>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="/logout">Logout</a>
                                        </div>
                                    </div>
                                </li>
        </ul>
    </nav>
    <div style="padding-top: 30px;" class="container">