<%- include('partials/header', {user}); %>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Upload a Course
            </div>
            <div class="card-body">
                <form action="/auth/createCourse" method="POST">
                    <div class="form-group">
                        <label for="title">Course Title</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>

                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <input type="text" class="form-control" id="genre" name="genre" required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend" id="price">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="price" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="courseDescription">Course Description</label>
                        <textarea class="form-control" id="courseDescription" rows="3" name="courseDescription" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Create Course</button>
                </form>
            </div>
        </div>

        <% if (locals.message) { %>
            <h4 class="alert alert-danger mt-4">
                <%- message %>
            </h4>
            <% } %>

    </div>

    <%- include('partials/footer.ejs', {user}); %>